<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.walterda.photohub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />


    <application
        android:name=".PhotoHub"
        android:allowBackup="true"
        android:banner="@mipmap/ic_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoHub"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".features.settings.SettingsActivity"
            android:theme="@style/Theme.Leanback"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".features.settings.presentation.NamePopup"
            android:theme="@style/Theme.Leanback"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".features.settings.presentation.AlbumChoicePopup"
            android:theme="@style/Theme.PhotoHub"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".features.MainActivity"
            android:theme="@style/Theme.PhotoHub"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>